/* Dogether 글씨체 */
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

/* 헤더 메뉴 글씨체 */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&family=Jua&family=Noto+Sans+KR:wght@100&family=Poiret+One&display=swap');

/* 로그인 글씨체 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700;800&display=swap');
.mainWrapper {
  flex: 1; /* 여기서 flex 속성 추가 */
  display: flex;
  justify-content: center;
  align-items: center;
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    .popup {
      position: relative;
      img {
        height: 80vh; /* 뷰포트 높이의 80%로 변경 */
      }
      .button-group {
        position: absolute;
        display: inline-block;
        bottom: 30px;
        right: 20px;

        button {
          border: 0;
          background-color: transparent;
          margin: 10px 20px;
          color: #fefefe;
          font-family: 'Noto Sans KR', sans-serif;
          &:hover {
            color: #dddddd;
            cursor: pointer;
          }
        }
      }
    }
  }

  .wrap {
    .content-1 {
      position: relative;
      background-color: #ffffffd7;
      height: 512px;
      width: 100%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .content-2 {
      position: relative;
      height: 200px;
      .title-2-1 {
        font-family: 'Courgette', cursive;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 26px;

        div {
          color: #e89b93;
          font-size: 55px;
        }
      }
    }

    .content-3,
    .content-4 {
      background-color: #ffffffd7;
      overflow: hidden;
      max-width: 1330px;
      width: 100%;

      .title-3-1,
      .title-4-1 {
        position: relative;
        width: 100%;

        .readMore {
          position: absolute;
          display: inline-block;
          right: 0;
          margin-right: 10px;
        }

        .adoptList,
        .reviewList {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          overflow: hidden;
          .image {
            position: relative;
            height: 130px;
            width: 150px;
            font-size: 16px;
            margin: 0 5px;
            div.category {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              opacity: 0;
              transition: opacity 0.7s; /* opacity 변경에 애니메이션 효과를 추가 */
              color: #dddddd;
              width: 90px;
              font-size: 17px;
            }
            img {
              height: 100%; /* 높이를 div에 맞춤 */
              width: 100%; /* 너비를 자동으로 설정하여 가로세로 비율을 유지 */
              transition: 0.7s;
              border-radius: 20%;
            }
            &:hover img {
              filter: brightness(0.5);
            }

            &:hover div {
              opacity: 1;
            }
          }
        }
        .boardList {
          a {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            height: 30px;
            .category {
              min-width: 40px;
            }
            .title {
              width: 300px;
              overflow: hidden;
            }
            .regDate {
              font-size: 14px;
              line-height: 26px;
              margin-left: 10px;
            }
          }
        }
      }
    }
    span {
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 18px;
      font-weight: 18px;
      margin-left: 10px;
    }

    hr {
      height: 3px;
      background-color: #e89b93;
      border-style: none;
      border-radius: 20%;
    }
    a {
      font-family: 'Noto Sans KR', sans-serif;
      color: #222211;
      font-size: 18px;
      text-decoration: none;
      &:hover {
        color: #666667;
      }
      .regDate {
        font-size: 10px;
        line-height: 10px;
      }
    }
    .content-1,
    .content-2,
    .content-3,
    .content-4 {
      margin: 90px auto;
    }
  }
  @media (max-width: 768px) {
    .wrap .content-1 {
      height: 200px;
    }
    .wrap .content-3 .title-3-1 .adoptList .image,
    .wrap .content-4 .title-4-1 .reviewList .image {
      position: relative;
      width: 90px;
      height: 90px;
    }
    .wrap .content-4 .title-4-1 .boardList div a {
      height: 20px;
      font-size: 13px;
      .title {
        width: 200px;
      }
      .regDate {
        font-size: 10px;
        line-height: 19px;
      }
    }
  }
}
