@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200&display=swap');
.knowledge-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.know1 {
  // position: relative;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  margin-bottom: 20px; /* 조절 가능한 간격 */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 110px;
  margin-bottom: -140px;

  width: 200px;

  img {
    width: 200px;
  }
}

.startmsg {
  font-size: 30px;
  font-family: 'Gowun Dodum', sans-serif;
  font-weight: 800;
  margin-left: 310px; /* Adjust the margin as needed */
  text-align: center;
  margin-bottom: 60px;
  width: 500px;
}

.head1,
.head2,
.head3 {
  width: 700px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 20px; /* 조절 가능한 간격 */
  position: relative;

  &:hover {
    border: 1px solid #f4d6cc;
    border-width: 30px;
  }
}

.head1info,
.head1info2,
.head1info3 {
  width: 850px;
  font-size: 25px;
  color: #fff;
  position: relative;
  font-weight: 800;
  font-family: 'Noto Sans KR', sans-serif;
  cursor: pointer;
  text-align: center;
  background-color: #5c5c5c; /* 배경색 추가 */
  padding: 10px; /* 내용과 테두리 간격 */
  border-radius: 14px;
  margin-bottom: 10px; /* 조절 가능한 간격 */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.head1info {
  background-color: #f3ded7;
  &:hover {
    background-color: #f4d6cc;
  }
}
.head1info2 {
  background-color: rgb(146, 98, 106);
  &:hover {
    background-color: rgb(127, 86, 93);
  }
}
.head1info3 {
  background-color: rgb(204, 150, 159);
  &:hover {
    background-color: rgb(226, 159, 171);
  }
}
.text1,
.text2,
.text3 {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px; /* 조절 가능한 간격 */
  font-family: 'Noto Sans KR', sans-serif;
}

/* 추가된 부분 */
.know1 .startmsg {
  margin-left: 20px; /* 조절 가능한 간격 */
}
