.find-password {
  width: 650px;
  height: 600px;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  border: 1px solid #b4b3b3;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  flex-direction: column;

  #userPass,
  #userPassCheck {
    width: 380px;
    height: 20px;
    border-radius: 10px;
    border: 2px solid #b6b6b6;
    padding: 10px;
    margin-top: 20px;
  }

  .findemail {
    margin-bottom: 20px;
  }
  #email {
    width: 270px;
    height: 20px;
    border-radius: 10px;
    border: 2px solid #b6b6b6;
  }

  #certification-number {
    width: 380px;
    height: 20px;
    border-radius: 10px;
    border: 2px solid #b6b6b6;
  }
  .maintext {
    font-size: 20px;
    top: 50px;
  }
  .changetext {
    position: relative;
    margin: 0;
    padding: 0;
  }

  #email,
  #certification-number {
    padding: 10px;
  }

  .send-btn {
    height: 40px;
    border-radius: 10px;
    background-color: #f3ded7;
    margin-left: 5px;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;

    &:hover {
      background-color: #fdc9b8;
    }
    &:active {
      background-color: #e89b93;
    }
  }
  .find-btn {
    background-color: #f3ded7;
    border-color: #f3ded7;
    height: 40px;
    width: 150px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #f3ded7;
    margin-top: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;

    &:hover {
      background-color: #fdc9b8;
    }
    &:active {
      background-color: #e89b93;
    }
  }

  .change-btn {
    background-color: #f3ded7;
    border-color: #f3ded7;
    height: 40px;
    width: 150px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #f3ded7;
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    &:hover {
      background-color: #fdc9b8;
    }
    &:active {
      background-color: #e89b93;
    }
  }

  .checkNum {
    text-align: center;
    margin-top: 15px;
  }
  .error-message {
    color: red;
    margin: 0;
    padding: 0;
    margin-left: 20px;
  }
}
