@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&family=Jua&family=Noto+Sans+KR:wght@100&family=Poiret+One&display=swap');
.joinmain {
  position: relative;
  top: 100px;
  height: 1500px;
  font-family: 'Noto Sans KR', sans-serif;
}

// 다음 우편번호 검색 기능 툴
.daum {
  display: none;
}

.red-message {
  color: red;
}

.blue-message {
  color: green;
}

.joinmain .joinmain2 {
  position: relative;
  bottom: 130px;
}

.joinmain .joinmsg {
  position: relative;
  text-align: center;
  bottom: 50px;
  font-size: 25px;
}

.joinmain .feelsudiv {
  position: relative;
  width: 700px;
  border: 5px solid pink;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 20px;
  color: pink;
  bottom: 5px;
}
.joinmain .iddiv {
  position: relative;
  border: 1px solid gray;
  border-radius: 10px;
  width: 450px;
  height: 40px;
  top: 20px;
  left: 150px;

  input {
    position: relative;
    border: none;
    left: 10px;
    top: 10px;
    left: 50px;
    outline: none;
  }
}

.joinmain .joogbokid {
  position: relative;
  font-weight: bold;
  font-size: 13px;
  top: 15px;
  left: 160px;
}

.joinmain .idcheckbtn {
  position: relative;
  left: 460px;

  button {
    border: 2px solid grey;
    background-color: pink;
    border-radius: 10px;
  }
}

.joinmain .passworddiv {
  position: relative;
  border: 1px solid gray;
  border-radius: 10px;
  width: 450px;
  height: 40px;
  top: 30px;
  left: 150px;

  input {
    position: relative;
    border: none;
    left: 10px;
    top: 10px;
    left: 50px;
    outline: none;
  }
}

.joinmain .joogbokpassword {
  position: relative;
  font-weight: bold;
  font-size: 13px;
  top: 25px;
  left: 160px;
}

.joinmain .passwordcheck {
  position: relative;
  border: 1px solid gray;
  border-radius: 10px;
  width: 450px;
  height: 40px;
  top: 40px;
  left: 150px;

  input {
    position: relative;
    border: none;
    left: 10px;
    top: 10px;
    left: 50px;
    outline: none;
  }
}

.joinmain .joogbokpasswordcheck {
  position: relative;
  font-weight: bold;
  font-size: 13px;
  top: 35px;
  left: 160px;
}

.joinmain .emailinput {
  position: relative;
  border: 1px solid gray;
  border-radius: 10px;
  width: 450px;
  height: 40px;
  top: 50px;
  left: 150px;

  input {
    position: relative;
    border: none;
    left: 10px;
    top: 10px;
    left: 50px;
    outline: none;
  }
}

.joinmain .emailCheckBtn {
  position: absolute;
  left: 480px;
  bottom: 1190px;

  button {
    border: 2px solid grey;
    background-color: pink;
    border-radius: 10px;
  }
}

.joinmain .joogbokemail {
  position: relative;
  font-weight: bold;
  font-size: 13px;
  top: 45px;
  left: 160px;
}

.joinmain .emailinput2 {
  position: relative;
  border: 1px solid gray;
  border-radius: 10px;
  width: 450px;
  height: 40px;
  top: 55px;
  left: 150px;

  input {
    position: relative;
    border: none;
    left: 10px;
    top: 10px;
    left: 50px;
    outline: none;
  }
}

.joinmain .emailVerifyBtn {
  position: absolute;
  left: 480px;
  //top: 5px;
  bottom: 1130px;
  button {
    border: 2px solid grey;
    background-color: pink;
    border-radius: 10px;
  }
}

.joinmain .joogbokemailcheck {
  position: relative;
  font-weight: bold;
  font-size: 13px;
  top: 30px;
  left: 160px;
}

.joinmain .namediv {
  position: relative;
  border: 1px solid gray;
  border-radius: 10px;
  width: 450px;
  height: 40px;
  top: 60px;
  left: 150px;

  input {
    position: relative;
    border: none;
    left: 10px;
    top: 10px;
    left: 50px;
    outline: none;
  }
}

.joinmain .joogbokname {
  position: relative;
  font-weight: bold;
  font-size: 13px;
  top: 15px;
  left: 160px;
}

.joinmain .phonediv {
  position: relative;
  border: 1px solid gray;
  border-radius: 10px;
  width: 450px;
  height: 40px;
  top: 70px;
  left: 150px;

  input {
    position: relative;
    border: none;
    left: 10px;
    top: 10px;
    left: 50px;
    outline: none;
  }
}

.joinmain .joogbokphone {
  position: relative;
  font-weight: bold;
  font-size: 13px;
  top: 25px;
  left: 160px;
}

.joinmain .feelsudiv2 {
  position: relative;
  width: 700px;
  border: 5px solid pink;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 20px;
  color: pink;
  top: 60px;
}

.joinmain .postdiv {
  position: relative;
  border: 1px solid gray;
  border-radius: 10px;
  width: 360px;
  height: 40px;
  top: 100px;
  left: 150px;

  input {
    position: relative;
    border: none;
    left: 10px;
    top: 10px;
    left: 50px;
    outline: none;
  }
}

.joinmain .postbtn {
  position: relative;
  left: 530px;
  top: 56px;

  input {
    border: 2px solid grey;
    background-color: pink;
    width: 100px;
    height: 45px;
  }
}

.joinmain .addrdiv {
  position: relative;
  border: 1px solid gray;
  border-radius: 10px;
  width: 450px;
  height: 40px;
  top: 80px;
  left: 150px;

  input {
    position: relative;
    border: none;
    left: 10px;
    top: 10px;
    left: 50px;
    outline: none;
  }
}

.joinmain .addrdetaildiv {
  position: relative;
  border: 1px solid gray;
  border-radius: 10px;
  width: 450px;
  height: 40px;
  top: 105px;
  left: 150px;

  input {
    position: relative;
    border: none;
    left: 10px;
    top: 10px;
    left: 50px;
    outline: none;
  }
}

.joinmain .refaddrdiv {
  position: relative;
  border: 1px solid gray;
  border-radius: 10px;
  width: 450px;
  height: 40px;
  top: 130px;
  left: 150px;

  input {
    position: relative;
    border: none;
    left: 10px;
    top: 10px;
    left: 50px;
    outline: none;
  }
}

.joinmain .feelsudiv3 {
  position: relative;
  width: 700px;
  border: 5px solid pink;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 20px;
  color: pink;
  top: 180px;
}

.joinmain .dongebtn {
  position: relative;

  top: 150px;
  left: 600px;

  input {
    width: px;
  }
}

.joinmain .dongetext {
  position: relative;

  top: 170px;
}

.joinmain .dongebtn2 {
  position: relative;
  left: 600px;
  top: 150px;
}

.joinmain .lastjoinbtn {
  position: relative;
  left: 300px;
  top: 300px;

  button {
    border: 2px solid grey;
    background-color: pink;
    border-radius: 10px;
    width: 130px;
    height: 45px;
  }
}
