.loginTemplate1 {
  width: 650px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  border: 1px solid #b4b3b3;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #id,
  #password {
    width: 300px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #b6b6b6;
  }

  .loginbtn {
    background-color: #f3ded7;
    border-color: #f3ded7;
    width: 300px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #f3ded7;
    margin-top: 40px;
    color: #fff;
    font-size: 20px;
  }
  
  .kakaobtn{
    position: relative;
    right: 100px;
  }

   .kakaobtnimg{
    position: relative;
    top: 20px;
    right: 10px;
    width: 180px;
    height: 45px;
  }
   .naverbtnimg {
    position: relative;
    top:  20px;
    right: -10px;
    width: 180px;
    height: 45px;
  }
  input {
    position: relative;
    top: 15px;
  }

  .findaccount{
    position: relative;
    top: 30px;

      .findpass{
        border: 1px solid grey;
        
        border-right: none;
        border-top: none;
        border-bottom: none;
      }

  }

  .tojoin {
    position: relative;
    top: 60px;
  }
  .loginDogether {
    position: absolute; /* 절대적인 위치를 설정 */
    top: 40px; /* 맨 위에 위치 */
    left: 50%; /* 가운데 정렬을 위해 왼쪽 50% 위치 */
    transform: translateX(-50%); /* 가운데 정렬을 위해 좌우 중앙으로 이동 */
    color: #e89b93;
    font-family: "Courgette", cursive;
    font-size: 30px;
    z-index: 1;
  }
  form {
    margin-top: 10px;
  }
}

/* 추가된 부분 */
body {
  position: relative;
}
