@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&family=Jua&family=Noto+Sans+KR:wght@100&family=Poiret+One&display=swap');

.userinfo-title {
  position: absolute;
  text-align: center;
  font-size: 25px;
  top: 18%;
  font-family: 'Noto Sans KR', sans-serif;
}

.joinform-box {
  position: absolute;
  width: 30%;
  height: 700px;
  padding: 30px 20px;
  text-align: center;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.joinForm {
  position: flex;
  height: 700px;
  text-align: center;
  top: 50%;
  left: 300px;

  .postTextForm {
    border: 2px solid #ebebeb;
    margin: 15px;
    height: 40px;
    padding-left: 5px;
    line-height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;

    button {
      width: 150px;
      height: 40px;
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;
      border: none;
      background-color: #f3ded7;
      color: white;
      cursor: pointer;
      font-size: 15px;
    }
  }
  .textForm,
  .textFormf {
    border: 2px solid #ebebeb;
    margin: 15px;
    height: 40px;
    padding-left: 5px;
    line-height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;

    .id,
    .name {
      background-color: #ebebeb;
    }
  }

  .blank {
    margin-bottom: 45px;
  }
  .error-message {
    color: red;
    position: absolute;
    top: 190px;
    display: block;
    font-size: 15px;
    margin-top: 10px;
  }
  .address-btn {
    width: 20px;
    height: 20px;
  }
  .textFormf {
    background-color: #ebebeb;
    border: none;
  }

  .id,
  .name,
  .phone-num,
  .email,
  .address,
  .payment,
  .cellphoneNo {
    width: 95%;
    border: none;
    outline: none;
    color: #636e72;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
  }

  .pw,
  .pwcheck {
    width: 95%;
    border: none;
    outline: none;
    color: #636e72;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
  }

  .btn {
    position: relative;
    background-color: #f3ded7;
    height: 40px;
    border-radius: 10px;
    width: 80%;
    background-size: 200%;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 20px;
    transition: 0.4s;
  }
}
.btn:hover {
  background-color: #e89b93;
}

.addr {
  border: 1px solid #ebebeb;
  margin: 15px;
  height: 40px;
  padding-left: 5px;
  line-height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;

  .addr2 {
    border-left: 1px solid #ebebeb;
    padding-left: 3px;
  }
}
.withdrawal {
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  top: 580px;
  width: 100px;
  right: 10px;
  cursor: pointer;
  color: #cacaca;
}
