.userinfo-title {
  position: absolute;
  text-align: center;
  font-size: 30px;
  top: 18%;
  border-bottom: 2px solid #e89b93;
  padding-bottom: 10px;
}

.joinform-box {
  position: absolute;
  width: 30%;
  height: 700px;
  padding: 30px 20px;
  text-align: center;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.joinForm {
  position: flex;
  height: 700px;
  text-align: center;
  top: 50%;
  border-radius: 15px;
  left: 300px;

  .textForm,
  .textFormf {
    border: 2px solid #adadad;
    margin: 15px;
    height: 40px;
    padding-left: 5px;
    line-height: 40px;
    border-radius: 15px;
    display: flex;
    align-items: center;

    .id,
    .name {
      background-color: #b6b6b6;
    }
  }

  .textFormf {
    background-color: #b6b6b6;
    border: none;
  }

  .id,
  .name,
  .phone-num,
  .email,
  .address,
  .payment,
  .cellphoneNo {
    width: 95%;
    border: none;
    outline: none;
    color: #636e72;
    font-size: 16px;
  }

  .pw,
  .pwcheck {
    width: 95%;
    border: none;
    outline: none;
    color: #636e72;
    font-size: 16px;
  }

  .btn {
    position: relative;
    background-color: #f3ded7;
    height: 40px;
    border-radius: 10px;
    width: 80%;
    background-size: 200%;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 20px;
    transition: 0.4s;
  }

  .btn:hover {
    background-color: #e89b93;
  }
}
