.mypage-fixed {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

  a {
    text-decoration: none;
    color: inherit;
  }

  button {
    border: none;
    border-radius: 15px;

    height: 50px;
    background-color: #fff;
    cursor: pointer;
    padding: 0;
    transition: 0.4s;
  }

  button:hover {
    background-color: #f3c2bd;
    color: white;
  }

  .group-wrapper {
    background-color: #ffffff;
    height: 800px;
    width: 1440px;
  }

  .group {
    height: 655px;
    left: 83px;
    position: relative;
    width: 1277px;
  }

  .overlap {
    height: 52px;
    left: 95px;
    position: absolute;
    top: 389px;
    width: 240px;
  }
  .rectangle {
    background-color: #f3ded7;
    border: 1px solid;
    border-color: #e6e6e6;
    border-radius: 10px;
    height: 49px;
    left: 38px;
    position: absolute;
    top: 0;
    width: 168px;
  }

  .mypage-tap {
    color: #000000;
    font-family: 'Days One', Helvetica;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    bottom: 320px;
    width: 240px;
  }

  .img {
    height: 292px;
    left: 80px;
    object-fit: cover;
    position: absolute;
    top: 41px;
    width: 268px;
  }

  .line-2 {
    left: 426px;
    object-fit: cover;
    position: absolute;
    top: 437px;
    width: 792px;
  }

  .modify-tap {
    color: #000000;
    font-family: 'Days One', Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 95px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 240px;
    width: 240px;
  }

  .text-wrapper-2 {
    color: #000000;
    font-family: 'Days One', Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 95px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 325px;
    width: 240px;
  }

  .like-list-tap {
    color: #000000;
    font-family: 'Days One', Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 95px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 160px;
    width: 240px;
  }

  .completion-group {
    height: 234px;
    left: 693px;
    position: relative;
    top: 54px;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #f3ded7;
    border-radius: 10px;
    height: 234px;
    position: absolute;
    width: 252px;

    .completion {
      position: relative;
      color: #000000;
      font-family: 'Courgette', Helvetica;
      font-size: 40px;
      top: 20px;
      text-align: center;
    }
    .completion-status {
      position: relative;
      color: #e89b93;
      font-family: 'Courgette', Helvetica;
      font-size: 36px;
      letter-spacing: 0;
      line-height: normal;
      text-align: center;
    }
  }

  .know-group {
    border: 1px solid #f3ded7;
    border-radius: 10px;
    height: 234px;
    left: 420px;
    position: absolute;
    top: 53px;
    width: 252px;

    .knowledge {
      position: relative;
      color: #000000;
      font-family: 'Courgette', Helvetica;
      font-size: 40px;
      top: 20px;
      text-align: center;
    }

    .knowledgecon {
      position: relative;
      color: #e89b93;
      font-family: 'Courgette', Helvetica;
      font-size: 36px;
      letter-spacing: 0;
      line-height: normal;
      text-align: center;
    }
  }
  .quiz-group {
    border: 1px solid #f3ded7;
    border-radius: 10px;
    height: 234px;
    left: 966px;
    position: absolute;
    top: 54px;
    width: 256px;

    .quiz {
      position: relative;
      color: #000000;
      font-family: 'Courgette', Helvetica;
      font-size: 40px;
      top: 20px;
      text-align: center;
    }

    .quiz-score {
      position: relative;
      color: #e89b93;
      font-family: 'Courgette', Helvetica;
      font-size: 36px;
      letter-spacing: 0;
      line-height: normal;
      text-align: center;
    }
  }

  .rectangle-2 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #f3ded7;
    border-radius: 10px;
    height: 234px;
    left: 0;
    position: absolute;
    top: 0;
    width: 252px;
  }
  .text-wrapper-12 {
    padding-bottom: 7px;
    border-bottom: 5px solid pink;
    color: #000000;
    font-size: 30px;
    font-weight: 400;
    left: 420px;
    position: absolute;
    top: 384px;
    width: 790px;
    margin-bottom: 5px;
  }
  .overlap-3 {
    margin-top: 5px;
    left: 460px;
    position: absolute;
    top: 420px;
    font-size: 20px;
  }

  .date {
    color: #000000;
    font-family: 'Courgette', Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 427px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 3px;
    width: 213px;
  }

  .text-wrapper-10 {
    color: #000000;
    font-family: 'Courgette', Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 613px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 94px;
  }

  .text-wrapper-11 {
    color: #000000;
    font-family: 'Courgette', Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 701px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 85px;
  }
}
