// .index {
//     background-color: #ffffff;
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     width: 100%;
//   }
  
  .index .div {
    //border: 1px solid blue;
    background-color: #ffffff;
    height: 1000px;
    overflow: hidden;
    position: relative;
    width: 1500px;
    
  }
  
  // 첫번째 사진 프레임
  .index .frame-1 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e89b93;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
    height: 150px;
    left: 300px;
    overflow: hidden;
    position: relative;
    top: 137px;
    width: 150px;

   

  }
  
//   .index .overlap-group {
//     height: 74px;
//     position: relative;
//   }
  
    // 첫번째 사진 이미지
  .index .image-1 {
    height: 150px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 150px;
  }
  
  // 사진 호버했을 때 나오는 정보
  .index .detail-info {
    -webkit-text-stroke: 0.5px #000000;
    color: #ffffff;
    font-family: "Cormorant", Helvetica;
    font-size: 8px;
    font-weight: 300;
    left: 8px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 4px;
    width: 59px;

    

  }
  
  // 두번째 사진 프레임
  .index .image-wrapper {
    border: 1px solid;
    border-color: #e89b93;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
    height: 150px;
    left: 960px;
    overflow: hidden;
    position: absolute;
    top: 137px;
    width: 150px;
  }

  // 두번째 사진 이미지
  .index .image-2 {
    height: 150px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 150px;
  }

  // 세번째 사진 프레임
  .index .frame-3 {
    border: 1px solid;
    border-color: #e89b93;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
    height: 150px;
    left: 740px;
    overflow: hidden;
    position: absolute;
    top: 137px;
    width: 150px;
  }
  
  // 세번째 사진 이미지
  .index .image-3 {
    height: 150px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: -5px;
    width: 150px;
  }

  // 네번째 사진 프레임
  .index .img-wrapper {
    border: 1px solid;
    border-color: #e89b93;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
    height: 150px;
    left: 520px;
    overflow: hidden;
    position: absolute;
    top: 137px;
    width: 150px;
  }
  
  // 네번째 사진 이미지
  .index .image-4 {
    height: 150px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: px;
    width: 150px;
  }
  
  // 다섯번째 사진 프레임
  .index .frame-5 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #9e574f;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
    height: 150px;
    left: 300px;
    overflow: hidden;
    position: absolute;
    top: 400px;
    width: 150px;
  }
  
  // 다섯번째 사진 이미지
  .index .image-5 {
    height: 150px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 150px;
  }

  //여섯번째 사진 프레임
  .index .frame-6 {
    border: 1px solid;
    border-color: #e89b93;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
    height: 150px;
    left: 520px;
    overflow: hidden;
    position: absolute;
    top: 400px;
    width: 150px;
  }
  
  //여섯번째 사진 이미지
  .index .image-9 {
    height: 150px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 150px;
  }
  
  //7번째 사진 프레임
  .index .frame-7 {
    background-image: url(https://cdn.animaapp.com/projects/6572e8d0c2e3a066593b0ad6/releases/6572e8fc3bb4f21fb184c67c/img/image-14@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    border: 1px solid;
    border-color: #e89b93;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
    height: 150px;
    left: 740px;
    position: absolute;
    top: 400px;
    width: 150px;
  }
  
  // 8번째 사진 프레임
  .index .frame-8 {
    border: 1px solid;
    border-color: #e89b93;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
    height: 150px;
    left: 960px;
    overflow: hidden;
    position: absolute;
    top: 400px;
    width: 150px;
  }
  
  // 8번째 사진 이미지
  .index .image-8 {
    height: 150px;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 150px;
  }

  //9번째 사진 프레임
  .index .frame-9 {
    border: 1px solid;
    border-color: #e89b93;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
    height: 150px;
    left: 300px;
    overflow: hidden;
    position: absolute;
    top: 663px;
    width: 150px;
  }
  
  // 9번째 사진 이미지
  .index .image-9 {
    height: 150px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 150px;
  }
  
  //10번째 사진 프레임
  .index .frame-10 {
    background-image: url(https://cdn.animaapp.com/projects/6572e8d0c2e3a066593b0ad6/releases/6572e8fc3bb4f21fb184c67c/img/image-18.png);
    background-position: 50% 50%;
    background-size: cover;
    border: 1px solid;
    border-color: #e89b93;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
    height: 150px;
    left: 520px;
    position: absolute;
    top: 663px;
    width: 150px;
  }
  
  //11번째 사진 프레임
  .index .frame-11 {
    //background-image: url(https://cdn.animaapp.com/projects/6572e8d0c2e3a066593b0ad6/releases/6572e8fc3bb4f21fb184c67c/img/image-18.png);
    border: 1px solid;
    border-color: #e89b93;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
    height: 150px;
    left: 740px;
    position: absolute;
    top: 663px;
    width: 150px;
  }
  
  //11번째 사진 프레임
//   .index .frame-11 {
//     border: 1px solid;
//     border-color: #e89b93;
//     border-radius: 10px;
//     box-shadow: 0px 4px 4px #00000040;
//     height: 70px;
//     left: -1px;
//     overflow: hidden;
//     position: relative;
//     top: -1px;
//   }
  
  //11번째 사진 이미지
  .index .image-11 {
    height: 150px;
    left: -5;
    object-fit: cover;
    position: absolute;
    top: -5;
    width: 150px;
  }
  
  //12번째 사진 프레임
  .index .frame-12 {
    border: 1px solid;
    border-color: #e89b93;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
    height: 150px;
    left: 960px;
    overflow: hidden;
    position: absolute;
    top: 663px;
    width: 150px;
  }
  
  //12번째 사진 이미지
  .index .image-12 {
    height: 150px;
    left: px;
    object-fit: cover;
    position: absolute;
    top: px;
    width: 150px;
  }

  
  .index .rectangle {
    background-color: #d9d9d9;
    border-radius: 10px;
    height: 71px;
    left: 558px;
    position: absolute;
    top: 106px;
    width: 13px;
  }
  
  //검색 바
  .index .overlap-2 {
    border-radius: 5px;
    height: 20px;
    left: 650px;
    position: absolute;
    top: 93px;
    width: 225px;
  }
  
  .index .view {
    background-color: #ffffff;
    border: 2px solid;
    border-color: #f3ded7;
    border-radius: 5px;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 225px;
  }
  
  .index .rectangle-2 {
    background-color: #f3ded7;
    border-radius: 5px;
    height: 20px;
    left: 205px;
    position: relative;
    top: -2px;
    width: 18px;
  }
  
  .index .image-10 {
    height: 8px;
    left: 212px;
    object-fit: cover;
    position: absolute;
    top: 6px;
    width: 8px;
  }
  
  // 페이지 넘버
  .index .element {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 20px;
    font-weight: 400;
    height: 9px;
    left: 600px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 900px;
    white-space: nowrap;
    width: 453px;
  }
  
  .index .text-wrapper {
    font-weight: 300;
  }
  
  .index .span {
    font-weight: 700;
  }
  
  .index .navbar {
    height: 48px;
    left: -4px;
    position: absolute;
    top: 6px;
    width: 585px;
  }
  
  .index .group {
    height: 17px;
    left: 259px;
    position: absolute;
    top: 29px;
    width: 95px;
  }
  
  .index .text-wrapper-2 {
    color: #e89b93;
    font-family: "Courgette", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 93px;
  }
  
  .index .group-2 {
    height: 47px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 585px;
  }
  
  .index .text-wrapper-3 {
    color: #000000;
    font-family: "Cormorant", Helvetica;
    font-size: 8px;
    font-weight: 500;
    left: 371px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 36px;
    width: 42px;
  }
  
  .index .text-wrapper-4 {
    color: #000000;
    font-family: "Cormorant", Helvetica;
    font-size: 8px;
    font-weight: 500;
    left: 456px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 35px;
    width: 42px;
  }
  
  .index .text-wrapper-5 {
    color: #000000;
    font-family: "Cormorant", Helvetica;
    font-size: 8px;
    font-weight: 500;
    left: 185px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 36px;
    width: 42px;
  }
  
  .index .text-wrapper-6 {
    color: #000000;
    font-family: "Cormorant", Helvetica;
    font-size: 8px;
    font-weight: 500;
    left: 96px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 36px;
    width: 42px;
  }
  
  .index .text-wrapper-7 {
    color: #e89b93;
    font-family: "Cormorant", Helvetica;
    font-size: 8px;
    font-weight: 500;
    left: 494px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 32px;
  }
  
  .index .text-wrapper-8 {
    color: #e89b93;
    font-family: "Cormorant", Helvetica;
    font-size: 8px;
    font-weight: 500;
    left: 529px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 32px;
  }
  
  .index .text-wrapper-9 {
    color: #e89b93;
    font-family: "Cormorant", Helvetica;
    font-size: 8px;
    font-weight: 500;
    left: 445px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 41px;
  }
  
  .index .text-wrapper-10 {
    color: #e89b93;
    font-family: "Cormorant", Helvetica;
    font-size: 10px;
    font-weight: 700;
    left: 486px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    transform: rotate(180deg);
    width: 3px;
  }
  
  .index .text-wrapper-11 {
    color: #e89b93;
    font-family: "Cormorant", Helvetica;
    font-size: 10px;
    font-weight: 700;
    left: 520px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    transform: rotate(180deg);
    width: 3px;
  }
  
  .index .div-wrapper {
    height: 46px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 573px;
  }
  
  .index .text-wrapper-12 {
    color: #000000;
    font-family: "Cormorant", Helvetica;
    font-size: 8px;
    font-weight: 500;
    left: 185px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 35px;
    width: 42px;
  }
  
  .index .rectangle-3 {
    background-color: #6e6e6d;
    border-radius: 100px;
    height: 3px;
    left: 83px;
    position: absolute;
    top: 54px;
    width: 56px;
  }
  
  .index .overlap-3 {
    height: 29px;
    left: 0;
    position: absolute;
    top: 551px;
    width: 571px;
  }
  
  .index .rectangle-4 {
    background-color: #f3ded7;
    height: 27px;
    left: 0;
    position: absolute;
    top: 0;
    width: 571px;
  }
  
  .index .rectangle-5 {
    background-color: #f3ded7;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 571px;
  }
  
  .index .rectangle-6 {
    background-color: #f3ded7;
    height: 29px;
    left: 0;
    position: absolute;
    top: 0;
    width: 571px;
  }
  
  .index .navbar-2 {
    height: 9px;
    left: 33px;
    position: absolute;
    top: 452px;
    width: 61px;
  }
  
  .index .text-wrapper-13 {
    color: #000000;
    font-family: "Cormorant", Helvetica;
    font-size: 6px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .index .text-wrapper-14 {
    color: #000000;
    font-family: "Cormorant", Helvetica;
    font-size: 6px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 61px;
  }
  
  .index .navbar-3 {
    height: 67px;
    left: 29px;
    position: absolute;
    top: 461px;
    width: 314px;
  }
  
  .index .dogether {
    color: transparent;
    font-family: "Cormorant", Helvetica;
    font-size: 6px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 17px;
  }
  
  .index .text-wrapper-15 {
    color: #797272;
    font-weight: 500;
  }
  
  .index .text-wrapper-16 {
    color: #e89b93;
    font-family: "Courgette", Helvetica;
  }
  
  .index .text-wrapper-17 {
    color: #797272;
    font-family: "Dangrek", Helvetica;
  }
  
  .index .text-wrapper-18 {
    color: #797272;
    font-size: 4px;
    font-weight: 500;
  }
  
  .index .text-wrapper-19 {
    color: #797272;
    font-family: "Convergence", Helvetica;
    font-size: 4px;
  }
  
  .index .text-wrapper-20 {
    color: #797272;
    font-size: 5px;
  }
  
  .index .text-wrapper-21 {
    color: #e89b93;
    font-size: 5px;
  }
  
  .index .text-wrapper-22 {
    color: #7a7272;
    font-size: 5px;
  }
  
  .index .text-wrapper-23 {
    color: #e89b93;
    font-family: "Courgette", Helvetica;
    font-size: 5px;
  }
  
  .index .p {
    color: transparent;
    font-family: "Cormorant", Helvetica;
    font-size: 6px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 17px;
    width: 314px;
  }
  
  // 카테고리 영역
  .index .overlap-wrapper {
    height: 18px;
    left: 560px;
    position: absolute;
    top: 94px;
    width: 61px;
  }
  
  .index .overlap-4 {
    background-color: #ffffff;
    border: 2px solid;
    border-color: #6e6e6d;
    border-radius: 5px;
    height: 18px;
    position: relative;
    width: 59px;
  }
  
  .index .text-wrapper-24 {
    color: #b5b5b5;
    font-family: "Copse", Helvetica;
    font-size: 7px;
    font-weight: 400;
    height: 9px;
    left: 17px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 3px;
  }
  
  .index .sss {
    height: 11px;
    left: 4px;
    object-fit: cover;
    position: absolute;
    top: 2px;
    width: 11px;
  }
  