.main2 {
  position: relative;
  top: 80px;
  height: 1200px;
  input {
    font-size: 15px;
  }
}

.main2 .modal-overlayy {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* 반투명한 검은 배경 */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.main2 .modal-contentt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
}

.main2 .modal-image {
  max-width: 100%;
  max-height: 100%;
}

.modal-overlayy .visible {
  display: flex;
}

.main2 .modal-overlayy,
.main2 .modal-contentt {
  transition: opacity 0.5s;
}

.main2 .userinfo {
  font-weight: bold;
  text-align: center;
  width: 150px;
  border: 1px solid pink;
  border-width: 5px;
  border-right: none;
  border-left: none;
  border-top: none;
  position: relative;
  bottom: 30px;
  left: 290px;
}

.main2 .name {
  //border: 1px solid green;
  position: relative;
  left: 10px;
  top: 20px;
  font-weight: bold;

  input {
    border: 1px solid #e89b93;
    border-radius: 20px;
    border-width: 3px;
    width: 250px;
    height: 30px;
  }
}

.main2 .age {
  //border: 1px solid green;
  position: relative;
  left: 360px;
  top: -16px;
  font-weight: bold;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input {
    border: 1px solid #e89b93;
    border-width: 3px;
    border-radius: 20px;
    width: 250px;
    height: 30px;
  }
}

.main2 .addrr {
  //border: 1px solid green;
  position: relative;
  left: 10px;
  top: 20px;
  font-weight: bold;

  input {
    border: 1px solid #e89b93;
    border-radius: 20px;
    border-width: 3px;
    width: 600px;
    height: 50px;
  }
}

.main2 .yeobu {
  //border: 1px solid green;
  position: relative;
  left: 30px;
  top: 50px;
  font-weight: bold;

  input {
    border: 1px solid #e89b93;
    border-width: 3px;
    border-radius: 20px;
  }
}

.main2 .job1 {
  position: relative;
  left: 360px;
  top: 23px;
  font-weight: bold;

  input {
    border: 1px solid #e89b93;
    border-width: 3px;
    border-radius: 20px;
    width: 250px;
    height: 35px;
  }
}
.main2 .email {
  position: relative;
  left: 7px;
  top: 55px;
  font-weight: bold;

  input {
    border: 1px solid #e89b93;
    border-width: 3px;
    border-radius: 20px;
    width: 595px;
    height: 30px;
  }
}

.main2 .tel {
  position: relative;
  left: 7px;
  top: 85px;
  font-weight: bold;

  input {
    border: 1px solid #e89b93;
    border-width: 3px;
    border-radius: 20px;
    width: 580px;
    height: 30px;
  }
}

.main2 .reason1 {
  position: relative;
  left: 10px;
  top: 110px;
  font-weight: bold;

  input {
    border: 1px solid #e89b93;
    border-width: 3px;
    border-radius: 20px;
    width: 580px;
    height: 70px;
    resize: none;
  }
}

.main2 .doginfo {
  text-align: center;

  width: 150px;
  border: 1px solid pink;
  border-width: 5px;
  border-right: none;
  border-left: none;
  border-top: none;
  position: relative;
  bottom: -170px;
  left: 300px;
  font-weight: bold;
}

.main2 .carenm {
  position: relative;
  left: 10px;
  top: 200px;
  font-weight: bold;

  input {
    border: 1px solid #e89b93;
    border-radius: 20px;
    border-width: 3px;
    width: 250px;
    height: 30px;
  }
}

.main2 .age2 {
  position: relative;
  left: 425px;
  top: 163px;
  font-weight: bold;

  input {
    border: 1px solid #e89b93;
    border-radius: 20px;
    border-width: 3px;
    width: 200px;
    height: 30px;
  }
}

.main2 .gender {
  position: relative;
  left: 30px;
  top: 200px;
  font-weight: bold;

  input {
    border: 1px solid #e89b93;
    border-radius: 20px;
    border-width: 3px;
    width: 250px;
    height: 30px;
  }
}

.main2 .kind {
  position: relative;
  left: 425px;
  top: 163px;
  font-weight: bold;

  input {
    border: 1px solid #e89b93;
    border-radius: 20px;
    border-width: 3px;
    width: 200px;
    height: 30px;
  }
}

.main2 .happenplace {
  position: relative;
  left: 15px;
  top: 200px;
  font-weight: bold;

  input {
    border: 1px solid #e89b93;
    border-radius: 20px;
    border-width: 3px;
    width: 580px;
    height: 30px;
  }
}

.main2 .specialmark {
  position: relative;
  left: 15px;
  top: 230px;
  font-weight: bold;

  input {
    border: 1px solid #e89b93;
    border-width: 3px;
    border-radius: 20px;
    width: 580px;
    height: 70px;
    resize: none;
  }
}

.main2 .yeobu2 {
  position: relative;
  left: 25px;
  top: 280px;
  font-weight: bold;
  font-family: 'IBM Plex Sans KR', sans-serif;

  input {
    border: 1px solid #e89b93;
    border-width: 3px;
    border-radius: 20px;
    width: 80px;
    height: 50px;
    resize: none;
    font-weight: bold;
    text-align: center;
    padding-left: 0;
  }
}

.main2 .checkbutton {
  position: relative;
  left: 320px;
  top: 330px;
  font-weight: bold;
  button {
    border: 1px solid #f3ded7;
    border-width: 3px;
    border-radius: 20px;
    background-color: #f3ded7;
    width: 130px;
    height: 50px;
    color: #989898;
    font-weight: 800;
    font-weight: bold;
    &:hover {
      background-color: #f6cbbc;
    }
  }
}
.main2 {
  input {
    padding-left: 10px; // 모든 input 태그에 적용됩니다.
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-weight: 800;
    &[readonly] {
      // readonly 속성이 있는 input 태그에만 적용됩니다.
      background-color: rgb(240, 237, 237);
    }
  }
}
