.main2 {
    position: relative;
    top: 80px;
    height: 1200px;
    
    
   
}
.main2 .userinfo {
    
    font-weight: bold;
    text-align: center;
    width: 150px;
    border: 1px solid pink;
    border-width: 5px;
    border-right: none;
    border-left: none;
    border-top: none;
    position: relative;
    bottom: 30px;
    left: 300px;
    
    
}

.main2 .name {
    //border: 1px solid green;
    position: relative;
    left: 10px;
    top: 20px;
    font-weight: bold;
    

    input{
        border: 1px solid #E89B93;
        border-radius: 20px;
        border-width: 3px;
        width: 250px;
        height: 30px;
        
    }
    
}

.main2 .age {
    //border: 1px solid green;
    position: relative;
    left: 360px;
    top: -16px;
    font-weight: bold;

    input{
        border: 1px solid #E89B93;
        border-width: 3px;
        border-radius: 20px;
        width: 250px;
        height: 30px;
    }
}

.main2 .addrr {
    //border: 1px solid green;
    position: relative;
    left: 10px;
    top: 20px;
    font-weight: bold;

    input{
        border: 1px solid #E89B93;
        border-radius: 20px;
        border-width: 3px;
        width: 600px;
        height: 50px;
    }

}

.main2 .yeobu {
    //border: 1px solid green;
    position: relative;
    left: 30px;
    top: 50px;
    font-weight: bold;

    input{
        border: 1px solid #E89B93;
        border-width: 3px;
        border-radius: 20px;
       
    }
}

.main2 .job1 {
    position: relative;
    left: 360px;
    top: 23px;
    font-weight: bold;

    input {
        border: 1px solid #E89B93;
        border-width: 3px;
        border-radius: 20px;
        width: 250px;
        height: 35px;
    }

}
.main2 .email {
    position: relative;
    left: 7px;
    top: 55px;
    font-weight: bold;

    input {
        border: 1px solid #E89B93;
        border-width: 3px;
        border-radius: 20px;
        width: 595px;
        height: 30px;
    }
}

.main2 .tel {
    position: relative;
    left: 7px;
    top: 85px;
    font-weight: bold;

    input {
        border: 1px solid #E89B93;
        border-width: 3px;
        border-radius: 20px;
        width: 580px;
        height: 30px;
    }
}

.main2 .reason1 {
    position: relative;
    left: 10px;
    top: 110px;
    font-weight: bold;

    input {
        border: 1px solid #E89B93;
        border-width: 3px;
        border-radius: 20px;
        width: 580px;
        height: 70px;
        resize: none;
        
    }
}

.main2 .doginfo {
    text-align: center;
    width: 150px;
    border: 1px solid pink;
    border-width: 5px;
    border-right: none;
    border-left: none;
    border-top: none;
    position: relative;
    bottom: -170px;
    left: 300px;
    font-weight: bold;
}


.main2 .carenm {
    position: relative;
    left: 10px;
    top: 200px;
    font-weight: bold;

    input{
        border: 1px solid #E89B93;
        border-radius: 20px;
        border-width: 3px;
        width: 250px;
        height: 30px;
    }
}

.main2 .age2 {
    position: relative;
    left: 425px;
    top: 163px;
    font-weight: bold;

    input {
        border: 1px solid #E89B93;
        border-radius: 20px;
        border-width: 3px;
        width: 200px;
        height: 30px;
    }
}

.main2 .gender {
    position: relative;
    left: 30px;
    top: 200px;
    font-weight: bold;

    input{
        border: 1px solid #E89B93;
        border-radius: 20px;
        border-width: 3px;
        width: 250px;
        height: 30px;
    }
}

.main2 .kind {
    position: relative;
    left: 425px;
    top: 163px;
    font-weight: bold;

    input {
        border: 1px solid #E89B93;
        border-radius: 20px;
        border-width: 3px;
        width: 200px;
        height: 30px;
    }
}

.main2 .happenplace {
    position: relative;
    left: 15px;
    top: 200px;
    font-weight: bold;

    input {
        border: 1px solid #E89B93;
        border-radius: 20px;
        border-width: 3px;
        width: 580px;
        height: 30px;
    }
}

.main2 .specialmark {
    position: relative;
    left: 15px;
    top: 230px;
    font-weight: bold;

    input {
        border: 1px solid #E89B93;
        border-width: 3px;
        border-radius: 20px;
        width: 580px;
        height: 70px;
        resize: none;
        
    }
}

.main2 .yeobu2 {
    position: relative;
    left: 25px;
    top: 280px;
    font-weight: bold;

    input{
        border: 1px solid #E89B93;
        border-width: 3px;
        border-radius: 20px;
        width: 130px;
        height: 50px;
        resize: none;
        font-weight: bold;
    }
}

.main2 .checkbutton {
    position: relative;
    left: 320px;
    top: 330px;
    font-weight: bold;
    button {
        border: 1px solid pink  ;
        border-width: 3px;
        border-radius: 20px;
        background-color: #F3DED7;
        width: 130px;
        height: 50px;
        font-weight: bold;
    }
}