.management {
  display: flex;
  .adoption-management,
  .order-management {
    display: flex;
    background-color: #f3ded7;
    width: 350px;
    height: 350px;
    margin-right: 30px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;

    &:hover {
      background-color: #e89b93;
      color: white;
    }
  }
}
