.tab-bar {
  button {
    &.active {
    }
  }
}

.order-container {
  width: 100%;
  display: flex;

  .list-item {
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    .item-info {
      display: flex;
      flex-direction: column;
      text-align: center;

      .time {
        // 시간 스팬 스타일 추가
      }

      .applicant {
        // 신청자 스팬 스타일 추가
      }
    }

    .detail-buttons {
      // 디테일 버튼 컨테이너 스타일 추가
      display: flex; // 디테일 버튼을 플렉스 컨테이너로 만듭니다.

      .detail-button,
      .detail-button2 {
        // 디테일 버튼 스타일 추가
        margin: 10px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
      }

      .detail-button {
        background-color: #aba6a6;
        color: #fff;

        &:hover {
          background-color: #e89b93;
        }
      }

      .detail-button2 {
        background-color: #aba6a6;
        color: #fff;

        &:hover {
          background-color: #e89b93;
        }
      }
    }
  }
}

.detail-button2 {
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #aba6a6;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: #e89b93;
  }
}
