/*헤더 글씨체 따옴*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&family=Jua&family=Noto+Sans+KR:wght@100&family=Poiret+One&display=swap');
.post-detail {
  font-family: 'Noto Sans KR', sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  width: 100%;

  .detail-btn {
    float: right;
    margin-left: 10px;
    background-color: #f3ded7;
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    width: 70px;
    margin-top: 10px;
    &:hover {
      background-color: #e89b93;
    }
  }

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .post-date {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;

    padding-bottom: 10px;
    text-align: right;
  }

  .post-content {
    img {
      max-width: 100%;
      height: auto;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
      line-height: 1.5;
      color: #333;
    }
  }

  .comment-section {
    margin-top: 100px;
    border-top: 3px solid #f3ded7;

    h3 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    li {
      margin-bottom: 10px;
      border-bottom: 0.2px solid #f3ded7;
      padding: 20px;
    }

    .comment-form {
      margin-top: 20px;

      textarea {
        width: 95%;
        height: 30px;
        padding: 8px;
        margin-bottom: 10px;
        resize: none;
        border: 3px solid #f3ded7;
        font-family: 'Noto Sans KR', sans-serif;
      }

      #replycomment {
        background-color: #f3ded7;
        color: #ffffff;
        padding: 10px;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        font-weight: 700;

        &:hover {
          background-color: #e89b93;
        }
      }
    }
  }

  .replyRegDate {
    margin: 0;
    font-size: 13px;
    color: #6e6e6d;

    .replybutton {
      &:hover {
        border-bottom: 0.3px solid black;
        cursor: pointer;
      }
    }
  }
}

#modifyInput {
  width: 95%;
  height: 30px;
  padding: 8px;
  margin-bottom: 10px;
  resize: none;
  border: 3px solid #f3ded7;
  font-family: 'Noto Sans KR', sans-serif;
}
.modifybutton {
  background-color: #f3ded7;
  color: #ffffff;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-weight: 700;

  &:hover {
    background-color: #e89b93;
  }
}
