/*헤더 글씨체 따옴*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&family=Jua&family=Noto+Sans+KR:wght@100&family=Poiret+One&display=swap');

.board-container {
  width: 800px;
  padding: 20px;
  border-radius: 8px;
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0 auto;
  div {
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
  }

  form {
    label {
      display: block;
      margin-bottom: 10px;

      input,
      select,
      textarea {
        font-family: 'Noto Sans KR', sans-serif;
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        margin-top: 4px;
        border: 3px solid #f3ded7;
        border-radius: 4px;
        font-size: 16px;

        &:focus {
          outline: none;
          border-color: #6e6e6d;
        }
      }
      textarea {
        height: 200px;
      }

      .boardTitle {
        text-align: center;
      }
    }

    .boardButton {
      border-radius: 10px;
      border: 3px solid #f3ded7;
      background: #fff;

      &:hover {
        background-color: #f3ded7;
        color: #fff;
      }

      cursor: pointer;
      width: 200px;
      height: 50px;
      flex-shrink: 0;
      font-size: 16px;
      margin-right: 10px;
    }

    .buttoncn {
      text-align: center;
    }
  }
}
